{% extends 'base.html.twig' %}

{% block title %}Hello MeetupFormController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.startdatetime) }}
    {{ form_row(form.registrationlimitdate) }}
    {{ form_row(form.duration) }}
    {{ form_row(form.maxregistrations) }}
    {{ form_row(form.meetupinfos) }}
    {{ form_row(form.participants) }}
    {{ form_row(form.organizer) }}
    {{ form_row(form.site) }}
    {{ form_row(form.place) }}
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{%  endblock %}

