{% extends 'base.html.twig' %}

{% block title %}Create Meetup{% endblock %}

{% block body %}
    <main class="container mt-5">
        <h1 class="display-4">Create New Meetup</h1>

        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.startdatetime) }}
        {{ form_row(form.registrationlimitdate) }}
        {{ form_row(form.duration) }}
        {{ form_row(form.maxregistrations) }}
        {{ form_row(form.meetupinfos) }}
        {{ form_row(form.participants) }}
        {{ form_row(form.site) }}

        <h4 class="mt-4">Chose an existing place</h4>
        {{ form_row(form.place) }}

        <h4 class="mt-3">Or create a new place</h4>
        {{ form_row(form.newPlace.name) }}

        <h5 class="mt-3">Chose a city</h5>
        {{ form_row(form.newPlace.city) }}

        <h5 class="mt-3">Or create a new city</h5>
        {{ form_row(form.newPlace.newCity.name) }}
        {{ form_row(form.newPlace.newCity.zipcode) }}

        <button type="submit" class="btn btn-primary mt-3">Submit</button>

        {{ form_end(form) }}
    </main>
{% endblock %}