{% extends 'base.html.twig' %}

{% block title %}Create Meetup{% endblock %}

{% block body %}
    <main class="container mt-5">
        <h1 class="display-4 text-center mb-4 text-site-color">Create New Meetup</h1>

        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.startdatetime) }}
        {{ form_row(form.registrationlimitdate) }}
        {{ form_row(form.duration) }}
        {{ form_row(form.maxregistrations) }}
        {{ form_row(form.meetupinfos) }}
        {{ form_row(form.participants) }}
        {{ form_row(form.site) }}

        <h4 class="mt-4 text-site-color">Choose an Existing Location</h4>
        {{ form_row(form.place) }}

        <h4 class="mt-3 text-site-color">Or Create a New Location</h4>
        {{ form_row(form.newPlace.name) }}

        <h5 class="mt-3 text-site-color">Additional Location Details</h5>
        {{ form_row(form.newPlace.streetname) }}
        {{ form_row(form.newPlace.latitude) }}
        {{ form_row(form.newPlace.longitude) }}

        <h6 class="mt-3 text-site-color">Choose a City</h6>
        {{ form_row(form.newPlace.city) }}

        <h6 class="mt-3 text-site-color">Or Create a New City</h6>
        {{ form_row(form.newPlace.newCity.name) }}
        {{ form_row(form.newPlace.newCity.zipcode) }}

        <button type="submit" class="btn btn-secondary-custom mt-3 w-100">Submit</button>

        {{ form_end(form) }}

    </main>
{% endblock %}

