{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-center">
                    <h1>{{ user.username }}</h1>
                    <img src="{{ asset('pictures/' ~ user.avatarUrl) }}" alt="Photo de profil" class="img-fluid">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Personal Information</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                        </li>
                        <li class="list-group-item">
                            <strong>First Name:</strong> {{ user.firstname ?? 'Not provided' }}
                        </li>
                        <li class="list-group-item">
                            <strong>Last Name:</strong> {{ user.surname ?? 'Not provided' }}
                        </li>
                        <li class="list-group-item">
                            <strong>Username:</strong> {{ user.username ?? 'Not provided' }}
                        </li>
                        <li class="list-group-item">
                            <strong>Phone Number:</strong> {{ user.phonenumber ?? 'Not provided' }}
                        </li>
                        <li class="list-group-item">
                            <strong>Email:</strong> {{ user.email ?? 'Not provided' }}
                        </li>
                        <li class="list-group-item">
                            <strong>City of Operation:</strong> {{ user.site.name ?? 'Not provided' }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="text-center mt-3">
        <button class="btn btn-secondary" onclick="window.history.back()">Back</button>
    </div>
{% endblock %}