{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>{{ user.username }} </h1>
    <div>
        <h5>Firstname : {{ user.firstname }}</h5>
        <br>
        <h5>Surname : {{ user.surname }}</h5>
        <br>
        <h5>Phone number : {{ user.phonenumber }}</h5>
        <br>
        <h5>Email : {{ user.email }}</h5>
        <br>
        <h5> City of operation : {{ user.site.name }}</h5>
        <br>
    </div>
    <a href="{{path('app_index')}}">Retour</a>
{% endblock %}