{% extends 'base.html.twig' %}

{% block title %} Management {% endblock %}

{% block body %}
    <h1 class="display-4 text-site-color">Management</h1><br>

    <p>Click here to manage places:</p>
    <a href="{{ path('gestion_cities')}}" class="btn btn-secondary-custom mb-3">
        Manage cities
    </a>

    <a href="{{ path('gestion_sites')}}" class="btn btn-secondary-custom mb-3">
        Manage sites
    </a>

    <a href="{{ path('gestion_places')}}" class="btn btn-secondary-custom mb-3">
        Manage places
    </a>

    <p>Click here to manage users:</p>

    <a href="{{ path('gestion_users')}}" class="btn btn-secondary-custom mb-3">
        Manage users
    </a>
    <p>Click here to manage meetups:</p>
    <a href="{{ path('gestion_meetups')}}" class="btn btn-secondary-custom mb-3">
        Manage meetups
    </a>

{% endblock %}
