{% extends 'base.html.twig' %}

{% block title %} Users Management {% endblock %}

{% block body %}
    <div class="container mt-5">
        <a href="{{ path('gestion_index') }}" class="btn btn-secondary btn-sm mb-3"> <-- </a>

        <form method="get" action="{{ path('gestion_users') }}" class="mb-3">
            <input type="text" name="search" placeholder="Find a user by email" value="{{ search }}">
            <button type="submit">Search</button>
        </form>
        <h1 class="mb-4">Users</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Is Verfied</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    {% if user.isverified == 1 %}
                    <td> Active </td>
                    {% endif %}
                    {% if user.isverified == 0 %}
                        <td> Pending </td>
                    {% endif %}
                    <td>
                        {% if user.isverified == 0 %}
                            <a href="{{ path('gestion_user_active', {id: user.id}) }}" class="btn btn-success btn-sm mb-3">Activate</a>
                        {% endif %}
                        {% if user.isverified == 1 %}
                            <a href="{{ path('gestion_user_disable', {id: user.id}) }}" class="btn btn-warning btn-sm mb-3">Disable</a>
                        {% endif %}
                        <a href="{{ path('gestion_user_delete', {id: user.id}) }}" class="btn btn-danger btn-sm mb-3" onclick="return confirm('Are you sure you want to delete this place?');">Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">No places found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('gestion_user_create') }}" class="btn btn-success btn-sm">Add user</a>
    </div>
{% endblock %}
